<h1>Sign in</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :email, placeholder: 'user@domain.com' %>
  <%= f.input :password, hint: 'No special characters.' %>
  <%= f.button :submit %>
<% end %>
